* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  gap: 4px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 80px 60px 1fr 40px;
  grid-template-areas: 
  "header header"
  "sidebar nav"
  "sidebar article"
  "footer footer";
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-area: header;
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-items: center;
  align-items: center;
}

.menu {
  width: 100%;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #C50208;
  display: grid;
  gap: 50px;
  text-align: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  
}

.nav {
  grid-area: nav;
  background-color: #C50208;
}

.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;     
  align-items: center;
  justify-items: center;    
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  grid-area: article;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

li {
  list-style-type: none;
  text-align: center;
}